source_url "https://raw.githubusercontent.com/nix-community/nix-direnv/refs/heads/master/direnvrc" "sha256-5ZNiImomwVkHGpXXKxlLVLiOZv0EROzd4YgxHTsgnCY="
watch_file direnvrc ./**/*.nix
use flake
dotenv_if_exists
